.principalContainer{
    display: flex;
    width: 100%;
    height: 100vh;

    
}
.principalDiv{
    height: 93vh;
    background-color: rgb(240, 243, 246);
    margin-top: 7vh;
    position: absolute;
    width: 100%;
   
}
.title{
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    position: relative;
    top: -10px;
    width: 100%;
    align-items: center;
    
}
.title h1{
    font-size: 2.5rem;
    margin-bottom: 5px;
}
.title h1 span{
    color: #ffb400;
}
.figureContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.circle{
    width: 13px;
    height: 13px;
    margin: 0px;
    border: solid var(--color-primario) 2px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
}
.bar{
    width: 100px;
    border: solid var(--color-primario)1px;
    height: 0px;
    margin: 0px;
}
.imgInfoContainer{
    z-index: 3 ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    /* position: absolute; */
   
    width: 100%;
}
.img {
    box-shadow: 0 0 2rem rgb(110, 110, 110);
    background-color: rgb(240, 243, 246);
    height: 610px;
    width: 500px;
    margin-left: 60px;
    border-radius: 70px;
}
.info{
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 10px;
    margin-left: 100px;
    margin-right: 60px;
    justify-content: center;
    align-items: flex-start;

}
.info h1{
    margin:0px ;
    font-size: 2.1rem; 
}
.info h3{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3rem; 
}
.info p{
    text-align: start;
    font-size: 17px;
   
}
.info h3 span{
    color: red;
   
}
.info h3  span:nth-of-type(2) {
    color:#ffb400;;
  }
.info h2{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.5rem; 
}  
.info hr{
    /* border-top: solid  red; */
    width: 100%;
} 

.infoContainer{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    text-align: start;
}
.infoContainer h4 {
    margin-right: 20px;
    color: gray;

}
.infoContainer h4 span {
    color: var(--color-primario)
   
    
}

.downloadButton{
    width: 180px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0.5rem;
    background: #1F2044;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.75px;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    color: white;
    margin-top: 30px;
  }
  .downloadButton:hover{
    background: #ffb400;
    color: #e5e5e5;
  }