.principalContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 3;
}

@media (max-width: 600px) {
  .principalContainer {
    height: 105vh;

  }
}

.principalDiv {
  height: 93vh;
  background-color: transparent;
  margin-top: 16vh;
  position: absolute;
  width: 100%;
  z-index: 3;
}

@media (max-width: 600px) {
  .principalDiv {
    height: 105vh;
    margin-top: 60px;
  }
}

.imgInfoContainer {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  /* position: absolute; */

  width: 100%;
}

@media (max-width: 820px) {
  .imgInfoContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
}

.img {
  box-shadow: 0 0 2rem rgb(110, 110, 110);
  background-color: rgb(240, 243, 246);
  height: 580px;
  width: 500px;
  border-radius: 70px;
}


@media (max-width: 820px) {
  .img {
    height: 290px;
    width:290px;
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media (max-height: 668px) {
  .img {
    display: none;

  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 10px;


  justify-content: center;
  align-items: flex-start;

}

@media (max-width: 820px) {
  .info {
    margin-left: 0px;
    margin-right: 0px;
    width: 96%;
    padding: 0px;
    justify-content: flex-start;
  }
}

.info h1 {
  margin: 0px;
  font-size: 2.1rem;
}

@media (max-width: 768px) {
  .info h1 {
    font-size: 1.3rem;
    align-self: center;
  }
}

.info h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .info h3 {
    font-size: 1.1rem;
    margin-bottom: 2px;

  }
}

.info p {
  text-align: justify;
  font-size: 17px;

}

@media (max-width: 768px) {
  .info p {
    font-size: 14px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 98%;
  }
}

.info h3 span {
  color: red;

}

.info h3 span:nth-of-type(2) {
  color: #ffb400;
  ;
}

.info h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.info hr {
  /* border-top: solid  red; */
  width: 99%;
}

.infoContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  text-align: start;
}

@media (max-width: 768px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
  }
}

.infoContainer h4 {
  margin: 3px;
  color: gray;

}

@media (max-width: 768px) {
  .infoContainer h4 {
    display: flex;
    flex-direction: row;
    margin-right: 2px;
  }
}

.infoContainer h4 span {
  color: var(--color-primario)
}

.downloadButton {
  width: 180px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0.5rem;
  background: #1F2044;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.75px;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: white;
  margin-top: 30px;
}

.downloadButton:hover {
  background: #ffb400;
  color: #e5e5e5;
}

@media (max-width: 768px) {
  .downloadButton {
    align-self: flex-start;
    margin-top: 7px;
  }
}